.movies-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
  border-radius: 10px;
  margin: 10px;
}

.search-form {
  display: inline-block;
  background-color: #415a77;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.search-form-body {
  display: flex;
  justify-content: center;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  height: 500px;
  width: 333.33px;
  border-radius: 10px;
}

.movie-title {
  max-width: 333.33px;
  max-height: 27.5px;
  text-align: center;
  padding-bottom: 10px;
}

.movie-votes {
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;
}

body {
  text-align: center;
  background-color: #001d3d;
  color: #ffc300;
}

.movies-grid div {
  background: #415a77;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

#search-button,
#close-search-btn,
#load-more-movies-btn {
  background-color: #ffc300;
  text-decoration: none;
  font-weight: bold;
  border: none;
  color: black;
  border-radius: 2px;
  margin-top: 10px;
}

/* .movies-grid {
  height: 650px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  gap: 10px;
  padding: 10px;
}

.movie-card {
  background-color: tan;
}

 */
